<table style="padding-right:20px;padding-left:20px;">
<tr><td></td><td colspan = '4'; align = 'center'>Model</td></tr> 
<tr><td></td><td colspan = '1'; align = 'center'>Estimate</td><td colspan = '1'; align = 'center'>Std. Err.</td><td colspan = '1'; align = 'center'>z</td><td colspan = '1'; align = 'center'>p</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Factor Loadings</span></td></tr> <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">voz</span></td></tr>
<tr><td>cp4a</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>cp4</td><td>0.55</td><td>0.01</td><td>53.24</td><td>.000</td></tr>
<tr><td>np2</td><td>0.89</td><td>0.01</td><td>62.43</td><td>.000</td></tr>
<tr><td>cp2</td><td>0.44</td><td>0.01</td><td>51.90</td><td>.000</td></tr>
<tr><td>np1</td><td>0.54</td><td>0.01</td><td>48.20</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">comunidad</span></td></tr>
<tr><td>cp8</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>cp5</td><td>0.83</td><td>0.02</td><td>50.22</td><td>.000</td></tr>
<tr><td>cp7</td><td>0.62</td><td>0.02</td><td>35.49</td><td>.000</td></tr>
<tr><td>cp6</td><td>0.71</td><td>0.03</td><td>24.95</td><td>.000</td></tr>
<tr><td>cp9</td><td>0.43</td><td>0.01</td><td>41.81</td><td>.000</td></tr>
<tr><td>vic44</td><td>0.62</td><td>0.02</td><td>39.61</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">partidista</span></td></tr>
<tr><td>pp2</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>pp1</td><td>0.94</td><td>0.03</td><td>36.72</td><td>.000</td></tr>
<tr><td>cp13</td><td>0.88</td><td>0.02</td><td>41.04</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">protesta</span></td></tr>
<tr><td>prot8</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>prot3</td><td>1.10</td><td>0.05</td><td>22.97</td><td>.000</td></tr>
<tr><td>cp21</td><td>1.02</td><td>0.07</td><td>14.90</td><td>.000</td></tr>
<tr><td>cp6</td><td>-0.71</td><td>0.07</td><td>-9.80</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">convencional</span></td></tr>
<tr><td>vb2</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>cp21</td><td>0.36</td><td>0.06</td><td>5.64</td><td>.000</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Residual Variances</span></td></tr>
<tr><td>cp4a</td><td>0.06</td><td>0.00</td><td>72.34</td><td>.000</td></tr>
<tr><td>cp4</td><td>0.06</td><td>0.00</td><td>98.07</td><td>.000</td></tr>
<tr><td>np2</td><td>0.07</td><td>0.00</td><td>82.18</td><td>.000</td></tr>
<tr><td>cp2</td><td>0.04</td><td>0.00</td><td>99.22</td><td>.000</td></tr>
<tr><td>np1</td><td>0.07</td><td>0.00</td><td>101.87</td><td>.000</td></tr>
<tr><td>cp8</td><td>0.08</td><td>0.00</td><td>70.91</td><td>.000</td></tr>
<tr><td>cp5</td><td>0.10</td><td>0.00</td><td>90.17</td><td>.000</td></tr>
<tr><td>cp7</td><td>0.18</td><td>0.00</td><td>105.28</td><td>.000</td></tr>
<tr><td>cp6</td><td>0.23</td><td>0.00</td><td>98.58</td><td>.000</td></tr>
<tr><td>cp9</td><td>0.05</td><td>0.00</td><td>101.31</td><td>.000</td></tr>
<tr><td>vic44</td><td>0.13</td><td>0.00</td><td>102.92</td><td>.000</td></tr>
<tr><td>pp2</td><td>0.05</td><td>0.00</td><td>74.57</td><td>.000</td></tr>
<tr><td>pp1</td><td>0.11</td><td>0.00</td><td>96.03</td><td>.000</td></tr>
<tr><td>cp13</td><td>0.04</td><td>0.00</td><td>73.08</td><td>.000</td></tr>
<tr><td>prot8</td><td>0.08</td><td>0.00</td><td>87.89</td><td>.000</td></tr>
<tr><td>prot3</td><td>0.06</td><td>0.00</td><td>68.91</td><td>.000</td></tr>
<tr><td>cp21</td><td>0.13</td><td>0.00</td><td>72.89</td><td>.000</td></tr>
<tr><td>vb2</td><td>0.20</td><td>0.01</td><td>36.71</td><td>.000</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Latent Variances</span></td></tr>
<tr><td>voz</td><td>0.05</td><td>0.00</td><td>45.56</td><td>.000</td></tr>
<tr><td>comunidad</td><td>0.05</td><td>0.00</td><td>39.88</td><td>.000</td></tr>
<tr><td>partidista</td><td>0.02</td><td>0.00</td><td>30.60</td><td>.000</td></tr>
<tr><td>protesta</td><td>0.01</td><td>0.00</td><td>15.91</td><td>.000</td></tr>
<tr><td>convencional</td><td>-0.02</td><td>0.01</td><td>-4.26</td><td>.000</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Latent Covariances</span></td></tr>
<tr><td>voz w/comunidad</td><td>0.02</td><td>0.00</td><td>38.39</td><td>.000</td></tr>
<tr><td>voz w/partidista</td><td>0.01</td><td>0.00</td><td>31.37</td><td>.000</td></tr>
<tr><td>voz w/protesta</td><td>0.01</td><td>0.00</td><td>18.02</td><td>.000</td></tr>
<tr><td>voz w/convencional</td><td>0.01</td><td>0.00</td><td>12.78</td><td>.000</td></tr>
<tr><td>comunidad w/partidista</td><td>0.02</td><td>0.00</td><td>33.54</td><td>.000</td></tr>
<tr><td>comunidad w/protesta</td><td>0.01</td><td>0.00</td><td>21.85</td><td>.000</td></tr>
<tr><td>comunidad w/convencional</td><td>0.02</td><td>0.00</td><td>19.90</td><td>.000</td></tr>
<tr><td>partidista w/protesta</td><td>0.01</td><td>0.00</td><td>21.09</td><td>.000</td></tr>
<tr><td>partidista w/convencional</td><td>0.01</td><td>0.00</td><td>16.29</td><td>.000</td></tr>
<tr><td>protesta w/convencional</td><td>0.00</td><td>0.00</td><td>4.20</td><td>.000</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Fit Indices</span></td></tr>
<tr><td>&chi;<sup>2</sup></td><td>3805.04(123)</td><td></td><td></td><td>.000</td></tr>
<tr><td>CFI</td><td>0.90</td><td></td><td></td><td></td></tr>
<tr><td>TLI</td><td>0.88</td><td></td><td></td><td></td></tr>
<tr><td>RMSEA</td><td>0.03</td><td></td><td></td><td></td></tr>
<tr><td colspan = '5'; align = 'left'><sup>+</sup>Fixed parameter</td></tr>
</table><br>
