<table style="padding-right:20px;padding-left:20px;">
<tr><td></td><td colspan = '4'; align = 'center'>Model</td></tr> 
<tr><td></td><td colspan = '1'; align = 'center'>Estimate</td><td colspan = '1'; align = 'center'>Std. Err.</td><td colspan = '1'; align = 'center'>z</td><td colspan = '1'; align = 'center'>p</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Factor Loadings</span></td></tr> <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">voz</span></td></tr>
<tr><td>cp4a</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>cp4</td><td>0.55</td><td>0.01</td><td>53.38</td><td>.000</td></tr>
<tr><td>np2</td><td>0.89</td><td>0.01</td><td>62.51</td><td>.000</td></tr>
<tr><td>cp2</td><td>0.44</td><td>0.01</td><td>52.04</td><td>.000</td></tr>
<tr><td>np1</td><td>0.54</td><td>0.01</td><td>48.18</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">comunidad</span></td></tr>
<tr><td>cp8</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>cp5</td><td>0.82</td><td>0.02</td><td>48.56</td><td>.000</td></tr>
<tr><td>cp7</td><td>0.59</td><td>0.02</td><td>34.09</td><td>.000</td></tr>
<tr><td>cp9</td><td>0.42</td><td>0.01</td><td>40.71</td><td>.000</td></tr>
<tr><td>vic44</td><td>0.61</td><td>0.02</td><td>38.89</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">partidista</span></td></tr>
<tr><td>pp2</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>pp1</td><td>0.94</td><td>0.03</td><td>36.90</td><td>.000</td></tr>
<tr><td>cp13</td><td>0.86</td><td>0.02</td><td>40.79</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">protesta</span></td></tr>
<tr><td>prot8</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>prot3</td><td>1.54</td><td>0.09</td><td>17.97</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">convencional</span></td></tr>
<tr><td>vb2</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Residual Variances</span></td></tr>
<tr><td>cp4a</td><td>0.06</td><td>0.00</td><td>72.42</td><td>.000</td></tr>
<tr><td>cp4</td><td>0.06</td><td>0.00</td><td>98.27</td><td>.000</td></tr>
<tr><td>np2</td><td>0.07</td><td>0.00</td><td>82.44</td><td>.000</td></tr>
<tr><td>cp2</td><td>0.04</td><td>0.00</td><td>99.44</td><td>.000</td></tr>
<tr><td>np1</td><td>0.07</td><td>0.00</td><td>102.20</td><td>.000</td></tr>
<tr><td>cp8</td><td>0.08</td><td>0.00</td><td>65.87</td><td>.000</td></tr>
<tr><td>cp5</td><td>0.10</td><td>0.00</td><td>88.96</td><td>.000</td></tr>
<tr><td>cp7</td><td>0.18</td><td>0.00</td><td>105.63</td><td>.000</td></tr>
<tr><td>cp9</td><td>0.05</td><td>0.00</td><td>101.17</td><td>.000</td></tr>
<tr><td>vic44</td><td>0.13</td><td>0.00</td><td>102.66</td><td>.000</td></tr>
<tr><td>pp2</td><td>0.05</td><td>0.00</td><td>73.19</td><td>.000</td></tr>
<tr><td>pp1</td><td>0.11</td><td>0.00</td><td>95.65</td><td>.000</td></tr>
<tr><td>cp13</td><td>0.04</td><td>0.00</td><td>74.54</td><td>.000</td></tr>
<tr><td>prot8</td><td>0.09</td><td>0.00</td><td>95.25</td><td>.000</td></tr>
<tr><td>prot3</td><td>0.06</td><td>0.00</td><td>45.13</td><td>.000</td></tr>
<tr><td>vb2</td><td>0.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Latent Variances</span></td></tr>
<tr><td>voz</td><td>0.05</td><td>0.00</td><td>45.67</td><td>.000</td></tr>
<tr><td>comunidad</td><td>0.05</td><td>0.00</td><td>39.37</td><td>.000</td></tr>
<tr><td>partidista</td><td>0.02</td><td>0.00</td><td>30.76</td><td>.000</td></tr>
<tr><td>protesta</td><td>0.01</td><td>0.00</td><td>13.14</td><td>.000</td></tr>
<tr><td>convencional</td><td>0.18</td><td>0.00</td><td>112.09</td><td>.000</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Latent Covariances</span></td></tr>
<tr><td>voz w/comunidad</td><td>0.02</td><td>0.00</td><td>37.93</td><td>.000</td></tr>
<tr><td>voz w/partidista</td><td>0.01</td><td>0.00</td><td>31.53</td><td>.000</td></tr>
<tr><td>voz w/protesta</td><td>0.01</td><td>0.00</td><td>15.77</td><td>.000</td></tr>
<tr><td>voz w/convencional</td><td>0.01</td><td>0.00</td><td>13.59</td><td>.000</td></tr>
<tr><td>comunidad w/partidista</td><td>0.02</td><td>0.00</td><td>33.38</td><td>.000</td></tr>
<tr><td>comunidad w/protesta</td><td>0.01</td><td>0.00</td><td>17.39</td><td>.000</td></tr>
<tr><td>comunidad w/convencional</td><td>0.01</td><td>0.00</td><td>17.75</td><td>.000</td></tr>
<tr><td>partidista w/protesta</td><td>0.01</td><td>0.00</td><td>17.02</td><td>.000</td></tr>
<tr><td>partidista w/convencional</td><td>0.01</td><td>0.00</td><td>17.36</td><td>.000</td></tr>
<tr><td>protesta w/convencional</td><td>0.00</td><td>0.00</td><td>4.35</td><td>.000</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Fit Indices</span></td></tr>
<tr><td>&chi;<sup>2</sup></td><td>3161.23(95)</td><td></td><td></td><td>.000</td></tr>
<tr><td>CFI</td><td>0.91</td><td></td><td></td><td></td></tr>
<tr><td>TLI</td><td>0.89</td><td></td><td></td><td></td></tr>
<tr><td>RMSEA</td><td>0.04</td><td></td><td></td><td></td></tr>
<tr><td colspan = '5'; align = 'left'><sup>+</sup>Fixed parameter</td></tr>
</table><br>
