<table style="padding-right:20px;padding-left:20px;">
<tr><td></td><td colspan = '4'; align = 'center'>Model</td></tr> 
<tr><td></td><td colspan = '1'; align = 'center'>Estimate</td><td colspan = '1'; align = 'center'>Std. Err.</td><td colspan = '1'; align = 'center'>z</td><td colspan = '1'; align = 'center'>p</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Factor Loadings</span></td></tr> <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">voz</span></td></tr>
<tr><td>cp4a</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>cp4</td><td>0.55</td><td>0.01</td><td>53.23</td><td>.000</td></tr>
<tr><td>np2</td><td>0.89</td><td>0.01</td><td>62.31</td><td>.000</td></tr>
<tr><td>cp2</td><td>0.44</td><td>0.01</td><td>51.94</td><td>.000</td></tr>
<tr><td>np1</td><td>0.54</td><td>0.01</td><td>48.11</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">comunidad</span></td></tr>
<tr><td>cp8</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>cp5</td><td>0.86</td><td>0.02</td><td>48.29</td><td>.000</td></tr>
<tr><td>cp6</td><td>0.48</td><td>0.02</td><td>25.12</td><td>.000</td></tr>
<tr><td>vic44</td><td>0.62</td><td>0.02</td><td>38.24</td><td>.000</td></tr>
<tr><td>cp9</td><td>0.43</td><td>0.01</td><td>40.33</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">partidista</span></td></tr>
<tr><td>pp2</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>pp1</td><td>0.95</td><td>0.03</td><td>37.02</td><td>.000</td></tr>
<tr><td>cp13</td><td>0.87</td><td>0.02</td><td>41.61</td><td>.000</td></tr>
<tr><td>vb2</td><td>0.61</td><td>0.04</td><td>16.02</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">protesta</span></td></tr>
<tr><td>prot8</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>cp21</td><td>1.35</td><td>0.06</td><td>23.30</td><td>.000</td></tr>
<tr><td>prot3</td><td>1.05</td><td>0.04</td><td>23.72</td><td>.000</td></tr>
<tr><td>vb2</td><td>-0.26</td><td>0.06</td><td>-4.26</td><td>.000</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Residual Variances</span></td></tr>
<tr><td>cp4a</td><td>0.06</td><td>0.00</td><td>72.23</td><td>.000</td></tr>
<tr><td>cp4</td><td>0.06</td><td>0.00</td><td>98.00</td><td>.000</td></tr>
<tr><td>np2</td><td>0.07</td><td>0.00</td><td>82.20</td><td>.000</td></tr>
<tr><td>cp2</td><td>0.04</td><td>0.00</td><td>99.12</td><td>.000</td></tr>
<tr><td>np1</td><td>0.07</td><td>0.00</td><td>101.88</td><td>.000</td></tr>
<tr><td>cp8</td><td>0.08</td><td>0.00</td><td>67.95</td><td>.000</td></tr>
<tr><td>cp5</td><td>0.10</td><td>0.00</td><td>85.92</td><td>.000</td></tr>
<tr><td>cp6</td><td>0.24</td><td>0.00</td><td>108.61</td><td>.000</td></tr>
<tr><td>vic44</td><td>0.13</td><td>0.00</td><td>102.21</td><td>.000</td></tr>
<tr><td>cp9</td><td>0.05</td><td>0.00</td><td>100.41</td><td>.000</td></tr>
<tr><td>pp2</td><td>0.05</td><td>0.00</td><td>75.91</td><td>.000</td></tr>
<tr><td>pp1</td><td>0.11</td><td>0.00</td><td>96.18</td><td>.000</td></tr>
<tr><td>cp13</td><td>0.04</td><td>0.00</td><td>75.39</td><td>.000</td></tr>
<tr><td>vb2</td><td>0.17</td><td>0.00</td><td>106.05</td><td>.000</td></tr>
<tr><td>prot8</td><td>0.09</td><td>0.00</td><td>92.23</td><td>.000</td></tr>
<tr><td>cp21</td><td>0.13</td><td>0.00</td><td>87.31</td><td>.000</td></tr>
<tr><td>prot3</td><td>0.06</td><td>0.00</td><td>81.97</td><td>.000</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Latent Variances</span></td></tr>
<tr><td>voz</td><td>0.05</td><td>0.00</td><td>45.52</td><td>.000</td></tr>
<tr><td>comunidad</td><td>0.05</td><td>0.00</td><td>38.04</td><td>.000</td></tr>
<tr><td>partidista</td><td>0.02</td><td>0.00</td><td>30.79</td><td>.000</td></tr>
<tr><td>protesta</td><td>0.01</td><td>0.00</td><td>16.20</td><td>.000</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Latent Covariances</span></td></tr>
<tr><td>voz w/comunidad</td><td>0.02</td><td>0.00</td><td>37.49</td><td>.000</td></tr>
<tr><td>voz w/partidista</td><td>0.01</td><td>0.00</td><td>32.19</td><td>.000</td></tr>
<tr><td>voz w/protesta</td><td>0.01</td><td>0.00</td><td>19.00</td><td>.000</td></tr>
<tr><td>comunidad w/partidista</td><td>0.02</td><td>0.00</td><td>34.12</td><td>.000</td></tr>
<tr><td>comunidad w/protesta</td><td>0.01</td><td>0.00</td><td>23.70</td><td>.000</td></tr>
<tr><td>partidista w/protesta</td><td>0.01</td><td>0.00</td><td>22.21</td><td>.000</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Fit Indices</span></td></tr>
<tr><td>&chi;<sup>2</sup></td><td>3747.58(112)</td><td></td><td></td><td>.000</td></tr>
<tr><td>CFI</td><td>0.90</td><td></td><td></td><td></td></tr>
<tr><td>TLI</td><td>0.88</td><td></td><td></td><td></td></tr>
<tr><td>RMSEA</td><td>0.04</td><td></td><td></td><td></td></tr>
<tr><td colspan = '5'; align = 'left'><sup>+</sup>Fixed parameter</td></tr>
</table><br>
