<table style="padding-right:20px;padding-left:20px;">
<tr><td></td><td colspan = '4'; align = 'center'>Model</td></tr> 
<tr><td></td><td colspan = '1'; align = 'center'>Estimate</td><td colspan = '1'; align = 'center'>Std. Err.</td><td colspan = '1'; align = 'center'>z</td><td colspan = '1'; align = 'center'>p</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Factor Loadings</span></td></tr> <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">voz</span></td></tr>
<tr><td>cp4a</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>cp4</td><td>0.55</td><td>0.01</td><td>53.36</td><td>.000</td></tr>
<tr><td>np2</td><td>0.88</td><td>0.01</td><td>62.50</td><td>.000</td></tr>
<tr><td>cp2</td><td>0.44</td><td>0.01</td><td>52.15</td><td>.000</td></tr>
<tr><td>np1</td><td>0.54</td><td>0.01</td><td>48.25</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">comunidad</span></td></tr>
<tr><td>cp8</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>cp5</td><td>0.82</td><td>0.02</td><td>49.52</td><td>.000</td></tr>
<tr><td>cp9</td><td>0.41</td><td>0.01</td><td>41.06</td><td>.000</td></tr>
<tr><td>vic44</td><td>0.61</td><td>0.02</td><td>39.29</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">partidista</span></td></tr>
<tr><td>pp2</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>pp1</td><td>0.94</td><td>0.03</td><td>36.35</td><td>.000</td></tr>
<tr><td>cp13</td><td>0.89</td><td>0.02</td><td>40.49</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">protesta</span></td></tr>
<tr><td>prot8</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>prot3</td><td>1.45</td><td>0.08</td><td>18.75</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">convencional</span></td></tr>
<tr><td>cp7</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>cp6</td><td>0.83</td><td>0.03</td><td>24.73</td><td>.000</td></tr>
<tr><td>vb2</td><td>0.47</td><td>0.02</td><td>19.04</td><td>.000</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Residual Variances</span></td></tr>
<tr><td>cp4a</td><td>0.06</td><td>0.00</td><td>72.42</td><td>.000</td></tr>
<tr><td>cp4</td><td>0.06</td><td>0.00</td><td>98.24</td><td>.000</td></tr>
<tr><td>np2</td><td>0.07</td><td>0.00</td><td>82.57</td><td>.000</td></tr>
<tr><td>cp2</td><td>0.04</td><td>0.00</td><td>99.29</td><td>.000</td></tr>
<tr><td>np1</td><td>0.07</td><td>0.00</td><td>102.09</td><td>.000</td></tr>
<tr><td>cp8</td><td>0.08</td><td>0.00</td><td>66.99</td><td>.000</td></tr>
<tr><td>cp5</td><td>0.10</td><td>0.00</td><td>89.66</td><td>.000</td></tr>
<tr><td>cp9</td><td>0.05</td><td>0.00</td><td>101.56</td><td>.000</td></tr>
<tr><td>vic44</td><td>0.13</td><td>0.00</td><td>102.90</td><td>.000</td></tr>
<tr><td>pp2</td><td>0.05</td><td>0.00</td><td>74.65</td><td>.000</td></tr>
<tr><td>pp1</td><td>0.11</td><td>0.00</td><td>96.19</td><td>.000</td></tr>
<tr><td>cp13</td><td>0.04</td><td>0.00</td><td>71.54</td><td>.000</td></tr>
<tr><td>prot8</td><td>0.09</td><td>0.00</td><td>94.24</td><td>.000</td></tr>
<tr><td>prot3</td><td>0.06</td><td>0.00</td><td>49.02</td><td>.000</td></tr>
<tr><td>cp7</td><td>0.16</td><td>0.00</td><td>73.90</td><td>.000</td></tr>
<tr><td>cp6</td><td>0.22</td><td>0.00</td><td>95.44</td><td>.000</td></tr>
<tr><td>vb2</td><td>0.17</td><td>0.00</td><td>105.57</td><td>.000</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Latent Variances</span></td></tr>
<tr><td>voz</td><td>0.05</td><td>0.00</td><td>45.67</td><td>.000</td></tr>
<tr><td>comunidad</td><td>0.05</td><td>0.00</td><td>39.59</td><td>.000</td></tr>
<tr><td>partidista</td><td>0.02</td><td>0.00</td><td>30.24</td><td>.000</td></tr>
<tr><td>protesta</td><td>0.01</td><td>0.00</td><td>13.54</td><td>.000</td></tr>
<tr><td>convencional</td><td>0.04</td><td>0.00</td><td>18.36</td><td>.000</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Latent Covariances</span></td></tr>
<tr><td>voz w/comunidad</td><td>0.02</td><td>0.00</td><td>37.70</td><td>.000</td></tr>
<tr><td>voz w/partidista</td><td>0.01</td><td>0.00</td><td>31.31</td><td>.000</td></tr>
<tr><td>voz w/protesta</td><td>0.01</td><td>0.00</td><td>16.30</td><td>.000</td></tr>
<tr><td>voz w/convencional</td><td>0.01</td><td>0.00</td><td>21.93</td><td>.000</td></tr>
<tr><td>comunidad w/partidista</td><td>0.02</td><td>0.00</td><td>33.50</td><td>.000</td></tr>
<tr><td>comunidad w/protesta</td><td>0.01</td><td>0.00</td><td>18.20</td><td>.000</td></tr>
<tr><td>comunidad w/convencional</td><td>0.03</td><td>0.00</td><td>34.11</td><td>.000</td></tr>
<tr><td>partidista w/protesta</td><td>0.01</td><td>0.00</td><td>17.70</td><td>.000</td></tr>
<tr><td>partidista w/convencional</td><td>0.01</td><td>0.00</td><td>17.19</td><td>.000</td></tr>
<tr><td>protesta w/convencional</td><td>0.00</td><td>0.00</td><td>5.19</td><td>.000</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Fit Indices</span></td></tr>
<tr><td>&chi;<sup>2</sup></td><td>3328.17(109)</td><td></td><td></td><td>.000</td></tr>
<tr><td>CFI</td><td>0.91</td><td></td><td></td><td></td></tr>
<tr><td>TLI</td><td>0.89</td><td></td><td></td><td></td></tr>
<tr><td>RMSEA</td><td>0.03</td><td></td><td></td><td></td></tr>
<tr><td colspan = '5'; align = 'left'><sup>+</sup>Fixed parameter</td></tr>
</table><br>
