<table style="padding-right:20px;padding-left:20px;">
<tr><td></td><td colspan = '4'; align = 'center'>Model</td></tr> 
<tr><td></td><td colspan = '1'; align = 'center'>Estimate</td><td colspan = '1'; align = 'center'>Std. Err.</td><td colspan = '1'; align = 'center'>z</td><td colspan = '1'; align = 'center'>p</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Factor Loadings</span></td></tr> <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">voz</span></td></tr>
<tr><td>cp4a</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>cp4</td><td>0.55</td><td>0.01</td><td>53.63</td><td>.000</td></tr>
<tr><td>np2</td><td>0.88</td><td>0.01</td><td>62.70</td><td>.000</td></tr>
<tr><td>cp2</td><td>0.44</td><td>0.01</td><td>52.29</td><td>.000</td></tr>
<tr><td>np1</td><td>0.53</td><td>0.01</td><td>48.18</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">comunidad</span></td></tr>
<tr><td>cp8</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>cp5</td><td>0.82</td><td>0.02</td><td>49.72</td><td>.000</td></tr>
<tr><td>cp9</td><td>0.41</td><td>0.01</td><td>41.08</td><td>.000</td></tr>
<tr><td>vic44</td><td>0.60</td><td>0.02</td><td>39.23</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">partidista</span></td></tr>
<tr><td>pp2</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>pp1</td><td>0.94</td><td>0.03</td><td>36.31</td><td>.000</td></tr>
<tr><td>cp13</td><td>0.90</td><td>0.02</td><td>40.42</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">protesta</span></td></tr>
<tr><td>prot8</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>prot3</td><td>1.46</td><td>0.08</td><td>18.88</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">tradicional</span></td></tr>
<tr><td>cp6</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>cp7</td><td>1.17</td><td>0.05</td><td>24.07</td><td>.000</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Residual Variances</span></td></tr>
<tr><td>cp4a</td><td>0.06</td><td>0.00</td><td>72.38</td><td>.000</td></tr>
<tr><td>cp4</td><td>0.06</td><td>0.00</td><td>98.48</td><td>.000</td></tr>
<tr><td>np2</td><td>0.07</td><td>0.00</td><td>82.79</td><td>.000</td></tr>
<tr><td>cp2</td><td>0.04</td><td>0.00</td><td>99.64</td><td>.000</td></tr>
<tr><td>np1</td><td>0.07</td><td>0.00</td><td>102.56</td><td>.000</td></tr>
<tr><td>cp8</td><td>0.08</td><td>0.00</td><td>66.85</td><td>.000</td></tr>
<tr><td>cp5</td><td>0.10</td><td>0.00</td><td>89.74</td><td>.000</td></tr>
<tr><td>cp9</td><td>0.05</td><td>0.00</td><td>101.97</td><td>.000</td></tr>
<tr><td>vic44</td><td>0.13</td><td>0.00</td><td>103.36</td><td>.000</td></tr>
<tr><td>pp2</td><td>0.05</td><td>0.00</td><td>74.96</td><td>.000</td></tr>
<tr><td>pp1</td><td>0.11</td><td>0.00</td><td>96.52</td><td>.000</td></tr>
<tr><td>cp13</td><td>0.04</td><td>0.00</td><td>71.39</td><td>.000</td></tr>
<tr><td>prot8</td><td>0.09</td><td>0.00</td><td>94.63</td><td>.000</td></tr>
<tr><td>prot3</td><td>0.06</td><td>0.00</td><td>49.12</td><td>.000</td></tr>
<tr><td>cp6</td><td>0.22</td><td>0.00</td><td>92.11</td><td>.000</td></tr>
<tr><td>cp7</td><td>0.16</td><td>0.00</td><td>67.73</td><td>.000</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Latent Variances</span></td></tr>
<tr><td>voz</td><td>0.05</td><td>0.00</td><td>45.88</td><td>.000</td></tr>
<tr><td>comunidad</td><td>0.05</td><td>0.00</td><td>39.76</td><td>.000</td></tr>
<tr><td>partidista</td><td>0.02</td><td>0.00</td><td>30.19</td><td>.000</td></tr>
<tr><td>protesta</td><td>0.01</td><td>0.00</td><td>13.62</td><td>.000</td></tr>
<tr><td>tradicional</td><td>0.03</td><td>0.00</td><td>15.70</td><td>.000</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Latent Covariances</span></td></tr>
<tr><td>voz w/comunidad</td><td>0.02</td><td>0.00</td><td>37.80</td><td>.000</td></tr>
<tr><td>voz w/partidista</td><td>0.01</td><td>0.00</td><td>31.25</td><td>.000</td></tr>
<tr><td>voz w/protesta</td><td>0.01</td><td>0.00</td><td>16.38</td><td>.000</td></tr>
<tr><td>voz w/tradicional</td><td>0.01</td><td>0.00</td><td>18.17</td><td>.000</td></tr>
<tr><td>comunidad w/partidista</td><td>0.02</td><td>0.00</td><td>33.53</td><td>.000</td></tr>
<tr><td>comunidad w/protesta</td><td>0.01</td><td>0.00</td><td>18.31</td><td>.000</td></tr>
<tr><td>comunidad w/tradicional</td><td>0.03</td><td>0.00</td><td>26.62</td><td>.000</td></tr>
<tr><td>partidista w/protesta</td><td>0.01</td><td>0.00</td><td>17.80</td><td>.000</td></tr>
<tr><td>partidista w/tradicional</td><td>0.01</td><td>0.00</td><td>12.97</td><td>.000</td></tr>
<tr><td>protesta w/tradicional</td><td>0.00</td><td>0.00</td><td>4.30</td><td>.000</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Fit Indices</span></td></tr>
<tr><td>&chi;<sup>2</sup></td><td>3006.54(94)</td><td></td><td></td><td>.000</td></tr>
<tr><td>CFI</td><td>0.92</td><td></td><td></td><td></td></tr>
<tr><td>TLI</td><td>0.90</td><td></td><td></td><td></td></tr>
<tr><td>RMSEA</td><td>0.04</td><td></td><td></td><td></td></tr>
<tr><td colspan = '5'; align = 'left'><sup>+</sup>Fixed parameter</td></tr>
</table><br>
