<table style="padding-right:20px;padding-left:20px;">
<tr><td></td><td colspan = '4'; align = 'center'>Model</td></tr> 
<tr><td></td><td colspan = '1'; align = 'center'>Estimate</td><td colspan = '1'; align = 'center'>Std. Err.</td><td colspan = '1'; align = 'center'>z</td><td colspan = '1'; align = 'center'>p</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Factor Loadings</span></td></tr> <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">voz</span></td></tr>
<tr><td>cp4a</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>cp4</td><td>0.55</td><td>0.01</td><td>53.51</td><td>.000</td></tr>
<tr><td>np2</td><td>0.89</td><td>0.01</td><td>62.59</td><td>.000</td></tr>
<tr><td>cp2</td><td>0.44</td><td>0.01</td><td>52.03</td><td>.000</td></tr>
<tr><td>np1</td><td>0.53</td><td>0.01</td><td>48.05</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">comunidad</span></td></tr>
<tr><td>cp8</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>cp5</td><td>0.83</td><td>0.02</td><td>49.07</td><td>.000</td></tr>
<tr><td>cp7</td><td>0.58</td><td>0.02</td><td>33.48</td><td>.000</td></tr>
<tr><td>cp9</td><td>0.43</td><td>0.01</td><td>41.42</td><td>.000</td></tr>
<tr><td>vic44</td><td>0.61</td><td>0.02</td><td>38.99</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">partidista</span></td></tr>
<tr><td>pp2</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>pp1</td><td>0.94</td><td>0.03</td><td>36.14</td><td>.000</td></tr>
<tr><td>cp13</td><td>0.92</td><td>0.02</td><td>40.57</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">protesta</span></td></tr>
<tr><td>prot8</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>prot3</td><td>1.08</td><td>0.05</td><td>23.96</td><td>.000</td></tr>
<tr><td>cp21</td><td>1.34</td><td>0.06</td><td>23.30</td><td>.000</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Residual Variances</span></td></tr>
<tr><td>cp4a</td><td>0.06</td><td>0.00</td><td>72.21</td><td>.000</td></tr>
<tr><td>cp4</td><td>0.06</td><td>0.00</td><td>98.34</td><td>.000</td></tr>
<tr><td>np2</td><td>0.07</td><td>0.00</td><td>82.37</td><td>.000</td></tr>
<tr><td>cp2</td><td>0.04</td><td>0.00</td><td>99.63</td><td>.000</td></tr>
<tr><td>np1</td><td>0.07</td><td>0.00</td><td>102.46</td><td>.000</td></tr>
<tr><td>cp8</td><td>0.08</td><td>0.00</td><td>67.48</td><td>.000</td></tr>
<tr><td>cp5</td><td>0.10</td><td>0.00</td><td>88.61</td><td>.000</td></tr>
<tr><td>cp7</td><td>0.18</td><td>0.00</td><td>106.18</td><td>.000</td></tr>
<tr><td>cp9</td><td>0.05</td><td>0.00</td><td>100.89</td><td>.000</td></tr>
<tr><td>vic44</td><td>0.13</td><td>0.00</td><td>102.89</td><td>.000</td></tr>
<tr><td>pp2</td><td>0.05</td><td>0.00</td><td>76.31</td><td>.000</td></tr>
<tr><td>pp1</td><td>0.11</td><td>0.00</td><td>96.92</td><td>.000</td></tr>
<tr><td>cp13</td><td>0.04</td><td>0.00</td><td>70.25</td><td>.000</td></tr>
<tr><td>prot8</td><td>0.09</td><td>0.00</td><td>93.77</td><td>.000</td></tr>
<tr><td>prot3</td><td>0.06</td><td>0.00</td><td>81.92</td><td>.000</td></tr>
<tr><td>cp21</td><td>0.13</td><td>0.00</td><td>89.45</td><td>.000</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Latent Variances</span></td></tr>
<tr><td>voz</td><td>0.05</td><td>0.00</td><td>45.77</td><td>.000</td></tr>
<tr><td>comunidad</td><td>0.05</td><td>0.00</td><td>39.31</td><td>.000</td></tr>
<tr><td>partidista</td><td>0.02</td><td>0.00</td><td>30.01</td><td>.000</td></tr>
<tr><td>protesta</td><td>0.01</td><td>0.00</td><td>16.11</td><td>.000</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Latent Covariances</span></td></tr>
<tr><td>voz w/comunidad</td><td>0.02</td><td>0.00</td><td>37.89</td><td>.000</td></tr>
<tr><td>voz w/partidista</td><td>0.01</td><td>0.00</td><td>31.09</td><td>.000</td></tr>
<tr><td>voz w/protesta</td><td>0.01</td><td>0.00</td><td>19.31</td><td>.000</td></tr>
<tr><td>comunidad w/partidista</td><td>0.02</td><td>0.00</td><td>33.24</td><td>.000</td></tr>
<tr><td>comunidad w/protesta</td><td>0.01</td><td>0.00</td><td>24.09</td><td>.000</td></tr>
<tr><td>partidista w/protesta</td><td>0.01</td><td>0.00</td><td>22.30</td><td>.000</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Fit Indices</span></td></tr>
<tr><td>&chi;<sup>2</sup></td><td>3395.39(98)</td><td></td><td></td><td>.000</td></tr>
<tr><td>CFI</td><td>0.91</td><td></td><td></td><td></td></tr>
<tr><td>TLI</td><td>0.89</td><td></td><td></td><td></td></tr>
<tr><td>RMSEA</td><td>0.04</td><td></td><td></td><td></td></tr>
<tr><td colspan = '5'; align = 'left'><sup>+</sup>Fixed parameter</td></tr>
</table><br>
