<table style="padding-right:20px;padding-left:20px;">
<tr><td></td><td colspan = '4'; align = 'center'>Model</td></tr> 
<tr><td></td><td colspan = '1'; align = 'center'>Estimate</td><td colspan = '1'; align = 'center'>Std. Err.</td><td colspan = '1'; align = 'center'>z</td><td colspan = '1'; align = 'center'>p</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Factor Loadings</span></td></tr> <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">voz</span></td></tr>
<tr><td>cp4</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>cp2</td><td>0.79</td><td>0.02</td><td>46.75</td><td>.000</td></tr>
<tr><td>cp4a</td><td>1.77</td><td>0.04</td><td>40.33</td><td>.000</td></tr>
<tr><td>np2</td><td>1.17</td><td>0.04</td><td>31.59</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">comunidad</span></td></tr>
<tr><td>cp8</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>cp5</td><td>0.81</td><td>0.02</td><td>49.18</td><td>.000</td></tr>
<tr><td>cp7</td><td>0.57</td><td>0.02</td><td>33.99</td><td>.000</td></tr>
<tr><td>cp9</td><td>0.41</td><td>0.01</td><td>40.93</td><td>.000</td></tr>
<tr><td>vic44</td><td>0.59</td><td>0.02</td><td>38.89</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">partidista</span></td></tr>
<tr><td>pp2</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>pp1</td><td>0.93</td><td>0.03</td><td>36.51</td><td>.000</td></tr>
<tr><td>cp13</td><td>0.91</td><td>0.02</td><td>41.28</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">protesta</span></td></tr>
<tr><td>prot8</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>prot3</td><td>1.22</td><td>0.11</td><td>11.55</td><td>.000</td></tr>
 <tr><td colspan = '1'; align = 'left'><span style="text-decoration: underline;">convencional</span></td></tr>
<tr><td>np1</td><td>1.00<sup>+</sup></td><td></td><td></td><td></td></tr>
<tr><td>np2</td><td>0.36</td><td>0.03</td><td>10.81</td><td>.000</td></tr>
<tr><td>prot3</td><td>0.11</td><td>0.03</td><td>3.87</td><td>.000</td></tr>
<tr><td>cp4a</td><td>0.07</td><td>0.02</td><td>3.36</td><td>.001</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Residual Variances</span></td></tr>
<tr><td>cp4</td><td>0.05</td><td>0.00</td><td>92.37</td><td>.000</td></tr>
<tr><td>cp2</td><td>0.04</td><td>0.00</td><td>94.33</td><td>.000</td></tr>
<tr><td>cp4a</td><td>0.06</td><td>0.00</td><td>54.13</td><td>.000</td></tr>
<tr><td>np2</td><td>0.07</td><td>0.00</td><td>85.98</td><td>.000</td></tr>
<tr><td>cp8</td><td>0.07</td><td>0.00</td><td>65.03</td><td>.000</td></tr>
<tr><td>cp5</td><td>0.10</td><td>0.00</td><td>89.46</td><td>.000</td></tr>
<tr><td>cp7</td><td>0.18</td><td>0.00</td><td>106.29</td><td>.000</td></tr>
<tr><td>cp9</td><td>0.05</td><td>0.00</td><td>101.84</td><td>.000</td></tr>
<tr><td>vic44</td><td>0.13</td><td>0.00</td><td>103.42</td><td>.000</td></tr>
<tr><td>pp2</td><td>0.05</td><td>0.00</td><td>76.34</td><td>.000</td></tr>
<tr><td>pp1</td><td>0.11</td><td>0.00</td><td>97.38</td><td>.000</td></tr>
<tr><td>cp13</td><td>0.04</td><td>0.00</td><td>71.63</td><td>.000</td></tr>
<tr><td>prot8</td><td>0.09</td><td>0.00</td><td>78.34</td><td>.000</td></tr>
<tr><td>prot3</td><td>0.06</td><td>0.00</td><td>47.10</td><td>.000</td></tr>
<tr><td>np1</td><td>0.04</td><td>0.00</td><td>14.09</td><td>.000</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Latent Variances</span></td></tr>
<tr><td>voz</td><td>0.02</td><td>0.00</td><td>31.64</td><td>.000</td></tr>
<tr><td>comunidad</td><td>0.05</td><td>0.00</td><td>40.06</td><td>.000</td></tr>
<tr><td>partidista</td><td>0.02</td><td>0.00</td><td>30.50</td><td>.000</td></tr>
<tr><td>protesta</td><td>0.01</td><td>0.00</td><td>10.71</td><td>.000</td></tr>
<tr><td>convencional</td><td>0.04</td><td>0.00</td><td>13.17</td><td>.000</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Latent Covariances</span></td></tr>
<tr><td>voz w/comunidad</td><td>0.01</td><td>0.00</td><td>28.54</td><td>.000</td></tr>
<tr><td>voz w/partidista</td><td>0.01</td><td>0.00</td><td>23.62</td><td>.000</td></tr>
<tr><td>voz w/protesta</td><td>0.00</td><td>0.00</td><td>10.98</td><td>.000</td></tr>
<tr><td>voz w/convencional</td><td>0.01</td><td>0.00</td><td>25.92</td><td>.000</td></tr>
<tr><td>comunidad w/partidista</td><td>0.02</td><td>0.00</td><td>33.55</td><td>.000</td></tr>
<tr><td>comunidad w/protesta</td><td>0.01</td><td>0.00</td><td>17.04</td><td>.000</td></tr>
<tr><td>comunidad w/convencional</td><td>0.02</td><td>0.00</td><td>36.05</td><td>.000</td></tr>
<tr><td>partidista w/protesta</td><td>0.01</td><td>0.00</td><td>16.91</td><td>.000</td></tr>
<tr><td>partidista w/convencional</td><td>0.01</td><td>0.00</td><td>30.97</td><td>.000</td></tr>
<tr><td>protesta w/convencional</td><td>0.01</td><td>0.00</td><td>9.70</td><td>.000</td></tr>
<tr><td></td><td colspan = '4'; align = 'center'><span style="text-decoration: underline;">Fit Indices</span></td></tr>
<tr><td>&chi;<sup>2</sup></td><td>1650.49(77)</td><td></td><td></td><td>.000</td></tr>
<tr><td>CFI</td><td>0.95</td><td></td><td></td><td></td></tr>
<tr><td>TLI</td><td>0.94</td><td></td><td></td><td></td></tr>
<tr><td>RMSEA</td><td>0.03</td><td></td><td></td><td></td></tr>
<tr><td colspan = '5'; align = 'left'><sup>+</sup>Fixed parameter</td></tr>
</table><br>
